:root{
    --white:#e8ebee;
    --black: #1b1a1a;
    --gray: #aecedd;
    --darck-blue: #106eda;
    --blue: #3a70ad;
    --red: #ad3a3a;
    --darck-red: #da1010;
    --green: #47ad3a;
    --darck-green: #10da1a;
    --yellow: #adab3a;
    --darck-yellow: #dacd10;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--white);
}

.container{
    display: flex;
    max-width: 1520px;
    margin: 0 auto;
    padding: 10px;
    padding-top: 25px;

    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
}

.title{
    margin-bottom: 1em;
    padding-left: 25px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
}

.form{
    display: flex;
    width: 100%;
    max-width: 800px;
    margin-right: auto;
    margin-bottom: 1.5em;

    font-size: 20px;
}

.input{
    padding: 10px 25px;
    border: 2px solid var(--black);
    border-radius: 8px;
    font-size: inherit;
    line-height: 1;
    background-color: white;
    transition: 500ms ease-in-out background-color,
    500ms ease-in-out font-weight,
    500ms ease-in-out color;
}

.input:focus{
    background-color: white;
    outline: none;
}

.input:hover{
    background-color: var(--gray);
}

.input:active{
    background-color: white;
}

.btn{
    padding: 10px 25px;
    border: 2px solid var(--black);
    border-radius: 8px;
    font-size: inherit;
    background-color: white;
    transition: 500ms ease-in-out background-color,
    500ms ease-in-out font-weight,
    500ms ease-in-out color,
    250ms ease-in-out transform;
}

.btn:focus{
    outline: none;
    color: var(--white);
    background-color: var(--darck-blue);
}

.btn:hover{
    color: white;
    background-color: var(--blue);
}

.btn:active{
    color: var(--white);
    background-color: var(--darck-blue);
}

.form__input{
    width: 70%;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form__btn{
    width: 240px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item{
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
    overflow: hidden;
    transition: 800ms ease-out background-color;
}

.item:nth-child(2n-1){
    background-color: var(--gray);
}

.item.--done{
    background-color: #94ce8c;
}

.btn-wrapper{
    display: flex;
    margin-left: auto;
    flex-direction: row;
    gap: 10px;
}

.done-btn{
    border: none;
    color: var(--white);
    background-color: var(--green);
}

.done-btn:focus{
    background-color: var(--green);
}

.done-btn:hover{
    background-color: var(--darck-green);
}

.done-btn:active{
    background-color: var(--darck-green);
    transform: scale(90%);
}

.done-btn.--yellow{
    
    background-color: var(--yellow);
}

.done-btn.--yellow:focus{
    background-color: var(--yellow);
}

.done-btn.--yellow:hover{
    background-color: var(--darck-yellow);
}

.done-btn.--yellow:active{
    background-color: var(--darck-yellow);
    transform: scale(90%);
}

.remove-btn{
    border: none;
    color: var(--white);
    background-color: var(--red);
}

.remove-btn:focus{
    background-color: var(--red);
}

.remove-btn:hover{
    background-color: var(--darck-red);
}

.remove-btn:active{
    background-color: var(--darck-red);
    transform: scale(90%);
}